<h3><a {{bind-attr href='post.url' }} target='_blank'>{{post.id}} {{post.title}}</a></h3>
<p class = 'timestamp'>
By {{post.user.name}}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{post.updated_at}}
</p>
<br>
<p>{{post.content}}</p>