<h5>{{post.title}}</h5>
<p class='small'>{{post.user.name}}</p>
<p>
<b>Excerpt:</b><br>
<div>{{post.excerpt}}</div>
<div><button {{action "toggleContent"}}>Toggle Content</button></div>
</p>
{{#if displayContent}}
<b>Content:</b><br>
<p>{{post.content}}</p>
{{/if}}
{{image-loader src=post.image_url}}
<a {{bind-attr href='post.url' }} target='_blank'>{{post.url}}</a>
<p class = 'timestamp'>{{post.updated_at}}</p>